<section class="wrapper">
  <h1 class="title">Add a New Book</h1>
  <div>
    <form class="form" [formGroup]="bookForm">
      <mat-form-field class="form-field">
        <input matInput [formControl]="bookForm.controls['lccn']" />
        <mat-placeholder>LCCN</mat-placeholder>
        <mat-error>Please Enter a LCCN</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput [formControl]="bookForm.controls['isbn']" />
        <mat-placeholder>ISBN</mat-placeholder>
        <mat-error>Please Enter an ISBN</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput [formControl]="bookForm.controls['title']" />
        <mat-placeholder>Title</mat-placeholder>
        <mat-error>Please Enter a Title</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <textarea
          matInput
          textarea
          [formControl]="bookForm.controls['authors']"
        ></textarea>
        <mat-placeholder>Author Name</mat-placeholder>
        <mat-hint
          >Separate multiple author names with commas i.e. James Brown, Emily
          Dickens</mat-hint
        >
        <mat-error>Please Enter an Author</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput [formControl]="bookForm.controls['publishDate']" />
        <mat-placeholder>Publish Year</mat-placeholder>
        <mat-error>Please Enter a Year</mat-error>
      </mat-form-field>
      <mat-checkbox
        class="form-field"
        [formControl]="bookForm.controls['available']"
        >Available</mat-checkbox
      >
      <div class="button-container">
        <button
          class="submit button"
          mat-raised-button
          color="primary"
          type="button"
          (click)="addBook()"
        >
          Add Book
        </button>
        <button
          class="button"
          mat-raised-button
          color="primary"
          type="button"
          (click)="addBulk()"
        >
          Import from Excel
        </button>
      </div>
    </form>
  </div>
</section>
