<section class="wrapper">
  <h1>Book Details</h1>
  <h2>{{ book?.title }}</h2>
  <div *ngIf="book">
    <h4 *ngFor="let author of book.authors">{{ author }}</h4>
  </div>
  <p>LCCN: {{ book?.lccn }}</p>
  <p>ISBN: {{ book?.isbn }}</p>
  <p>Publishing Date: {{ book?.publishDate }}</p>
  <button
    class="button"
    mat-raised-button
    *ngIf="book?.available"
    color="primary"
    (click)="checkOut(book)"
  >
    Checkout
  </button>
  <button
    class="button"
    mat-raised-button
    *ngIf="!book?.available"
    color="primary"
    (click)="checkIn(book)"
  >
    Check In
  </button>
  <button
    class="button"
    mat-raised-button
    color="primary"
    (click)="updateDialog(book)"
  >
    Edit Books
  </button>
</section>
